<div class="expansion-panel" [class.expansion-panel--toggled]="isToggled">
    <!-- PANEL HEADER -->
    <div class="layout-row expansion-panel__header"
         [attr.tabindex]="0"
         (keyup.enter)="toggle()"
         (click)="toggle()">

        <!-- TITLE/NAME -->
        <div class="expansion-panel__title layout-column">
            <ng-content select="expansion-panel-title"></ng-content>
        </div>

        <!-- DESCRIPTION (PANEL VISIBLE) -->
        <div class="expansion-panel__description layout-column" *ngIf="isToggled">
            <ng-content select="expansion-panel-description-toggled"></ng-content>
        </div>

        <!-- DESCRIPTION (PANEL HIDDEN) -->
        <div class="expansion-panel__description layout-column" *ngIf="isToggled === false">
            <ng-content select="expansion-panel-description-hidden"></ng-content>
        </div>

        <!-- ARROW -->
        <div class="expansion-panel__arrow-down layout-column">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
        </div>
    </div>

    <!-- PANEL CONTENT -->
    <div class="expansion-panel__content"
         *ngIf="isToggled"
         [attr.tabindex]="-1">

        <ng-content select="expansion-panel-content"></ng-content>

        <!-- PANEL BUTTONS -->
        <div class="expansion-panel__buttons">
            <ng-content select="expansion-panel-buttons"></ng-content>
        </div>
    </div>
</div>
